<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/open-iconic/font/css/open-iconic-bootstrap.css">
    <title>Pixiv Collections</title>
</head>

<body class="scrollbar">
    <!--web head with background-->
    <header style="position:relative">
        <div class="jumbotron jumbotron-fluid bg-brightness header-bg mb-0">
        </div>
        <div class="content-front">
            <h1 class="display-4 text-white text-center">Pixiv Collections</h1>
            <p class="lead text-white font-weight-normal text-center">P站好图收藏</p>
        </div>
    </header>
    <!--sticky nav-->
    <div class="sticky-top p-0 d-flex align-items-center justify-content-center sticky-nav mb-5">
        <div class="tag">
            {{$s := .Site}}
            <nav class="nav nav-pills flex-sm-row justify-content-center m-auto">
                <a class="flex-sm-fill text-sm-center nav-link {{if $s.Daily}}active{{end}}" href="/daily">日榜</a>
                <a class="flex-sm-fill text-sm-center nav-link {{if $s.Weekly}}active{{end}}" href="/weekly">周榜</a>
                <a class="flex-sm-fill text-sm-center nav-link {{if $s.Monthly}}active{{end}}" href="/monthly">月榜</a>
            </nav>
        </div>
        <a id="download" class="text-white" href="/download/{{if $s.Daily}}daily{{else if $s.Weekly}}weekly{{else if $s.Monthly}}monthly{{end}}">
            <span class="oi oi-data-transfer-download"></span>
        </a>
    </div>
    <main>
        <!--image thumbnail-->
        <div class="container">
            <div class="card-columns">
                {{range $picture := .Pictures}}
                <a class="card border-0 mb-3 shadow">
                    <div class="sliderpic">
                        <img class="card-img rounded-sm" draggable="false" data-toggle="modal"
                            data-target="#P{{$picture.Id}}" src={{$picture.Path}} alt="">
                        <div class="pic-info m-2">
                            <div class="post-title">{{$picture.Title}}</div>
                            id={{$picture.Id}}
                        </div>
                    </div>
                </a>
                {{end}}
            </div>
        </div>
        <!-- Modal -->
        <div>
            {{range $picture := .Pictures}}
            <div class="modal fade p-0" id="P{{$picture.Id}}" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{$picture.Title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center d-block" style="position:relative" id="dynamic-content">
                            <img class="pic" src={{$picture.Path}} alt="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="https://www.pixiv.net/artworks/{{$picture.Id}}" class="btn btn-primary">P站传送门</a>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </main>
    <footer>
        <div class="container" style="height: 200px;">
            <h4 class="display-4 text-white text-center mt-5">End</h4>
        </div>
    </footer>




    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>